## 1-1 Boston Housing 데이터 셋이다. 데이터 컬럼들의 결측값을 전부 제거 후 데이터를 처음부터 순서대로 70% 추출하여 변수 중 'tax'의 사분위 수 Q1 값을 구하시오

In [6]:
import pandas as pd
df = pd.read_csv('data/boston_housing.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   crim    506 non-null    float64
 1   zn      506 non-null    float64
 2   indus   506 non-null    float64
 3   chas    506 non-null    int64
 4   nox     506 non-null    float64
 5   rm      506 non-null    float64
 6   age     506 non-null    float64
 7   dis     506 non-null    float64
 8   rad     506 non-null    int64
 9   tax     506 non-null    int64
 10  pratio  506 non-null    float64
 11  b       506 non-null    float64
 12  lstat   506 non-null    float64
 13  medv    506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [7]:
df.dropna(inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   crim    506 non-null    float64
 1   zn      506 non-null    float64
 2   indus   506 non-null    float64
 3   chas    506 non-null    int64
 4   nox     506 non-null    float64
 5   rm      506 non-null    float64
 6   age     506 non-null    float64
 7   dis     506 non-null    float64
 8   rad     506 non-null    int64
 9   tax     506 non-null    int64
 10  pratio  506 non-null    float64
 11  b       506 non-null    float64
 12  lstat   506 non-null    float64
 13  medv    506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 59.3 KB

In [9]:
new_df = df.iloc[:int(len(df) * 0.7)]
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 354 entries, 0 to 353
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   crim    354 non-null    float64
 1   zn      354 non-null    float64
 2   indus   354 non-null    float64
 3   chas    354 non-null    int64
 4   nox     354 non-null    float64
 5   rm      354 non-null    float64
 6   age     354 non-null    float64
 7   dis     354 non-null    float64
 8   rad     354 non-null    int64
 9   tax     354 non-null    int64
 10  pratio  354 non-null    float64
 11  b       354 non-null    float64
 12  lstat   354 non-null    float64
 13  medv    354 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 41.5 KB

In [10]:
# sol.1
ans = new_df['tax'].quantile(0.25)
print(ans)

264.0

In [13]:
# sol.2
ans = new_df['tax'].describe()['25%']
print(ans)

264.0

# 1-2 다음은 국가별 입국자 수 데이터이다. 2000년도 전체 입국자 평균보다 국내에 많이 입국한 국가의 수를 산출하시오

In [19]:
import pandas as pd
df = pd.read_csv("data/tour.csv", encoding = 'euc-kr', index_col = 'year')
df

,중국,일본,대만,홍콩,필리핀,인도네시아,태국,베트남,인도,말레이시아,...,그리스,불가리아,덴마크,아일랜드,유럽 기타,오스트레일리아,뉴질랜드,오세아니아 기타,남아프리카공화국,아프리카 기타
year,,,,,,,,,,,,,,,,,,,,,
1995,178359,1667203,130147,100407,163228,37723,73770,16720,35668,31145,...,14591,3408,5409,1741,7216,27251,6499,1891,1838,11056
1996,199604,1526559,114729,77958,178045,46570,74162,16750,38585,34957,...,14142,3447,5797,2066,9688,30694,6942,2304,2058,9820
1997,214244,1676434,104144,96650,187235,53204,62374,14102,42934,36459,...,12255,3870,5479,2230,9079,34640,7718,2735,4042,9873
1998,210662,1954416,108880,229072,165272,36486,49973,11561,40606,42554,...,8730,3315,5661,2071,8181,31028,7355,2716,3986,11877
1999,316639,2184121,110563,234087,198583,47019,63679,16121,43829,48435,...,10878,2371,5607,2131,8829,33378,8390,2696,3987,14682
2000,442794,2472054,127120,200874,248737,59085,87885,21483,51369,59933,...,9899,6105,6140,2376,11201,39614,9890,4563,4113,14204
2001,482227,2377321,129410,204959,210975,57288,73163,20399,47657,55848,...,9038,7569,6063,2741,12040,44295,12086,3301,4850,13315
2002,539466,2320837,136921,179299,215848,65093,74000,23574,52725,82720,...,9068,8794,8024,6590,16411,49759,13355,3859,5153,14424
2003,512768,1802542,194586,156358,216627,62744,78243,28244,50212,90623,...,9257,10109,6567,3977,13773,48597,13875,3245,4186,13533
2004,627264,2443070,304908,155058,213434,61506,102588,33738,56966,93982,...,9014,10417,7388,4600,14507,57834,16049,4038,4325,13580
2005,710243,2440139,351438,166206,222655,62294,112724,45455,58560,96583,...,7833,10138,7989,4941,15984,63463,16419,5318,4534,13631
2006,896969,2338921,338162,142835,248262,62869,128555,46077,62531,89854,...,7746,10499,8409,4833,17950,68328,17502,5686,4756,16334
2007,1068925,2235963,335224,140138,263799,67450,146792,60262,68276,83049,...,6949,7674,8481,5903,19312,80528,21083,6218,6050,17574
2008,1167891,2378102,320244,160325,276710,81001,160687,76402,73130,83754,...,7080,6171,8764,6589,21543,96138,24435,6996,6910,19299
2009,1342317,3053311,380628,215769,271962,80988,190972,75978,72779,80105,...,7885,6220,7813,5991,21397,99153,23953,7340,7530,20971
2010,1875157,3023009,406352,228582,297452,95239,260718,90213,86547,113675,...,7975,7525,7978,6257,23098,112409,26973,6707,9633,24123

In [29]:
df_2000 = df.iloc[5,:]
df_2000_mean = df_2000.mean()
df_2000_mean

88494.63157894737

In [28]:
# sol.1
cnt = 0
for i in range(len(df_2000)):
    if df_2000[i] > df_2000_mean:
        cnt += 1

print(cnt)

7

In [35]:
# sol.2
mean = df.loc[2000].mean()
print(sum(df.loc[2000,:] > mean))

7

# 1-3 다음 데이터 셋의 컬럼 중 빈값 또는 결측치를 확인하여 결측치의 비율이 높은 변수명을 출력하시오

In [46]:
import pandas as pd
df = pd.read_csv("data/titanic.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 32.8+ KB

In [47]:
df.isnull().sum()

PassengerId     0
Pclass          0
Name            0
Sex             0
Age            86
SibSp           0
Parch           0
Ticket          0
Fare            1
Embarked        0
dtype: int64

In [48]:
new_sr = df.isnull().sum() / len(df)
new_sr

PassengerId    0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.205742
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.002392
Embarked       0.000000
dtype: float64

In [62]:
# sol.1
ans = new_sr.idxmax()
print(ans)

Age

In [61]:
# sol.2
data = pd.read_csv('data/titanic.csv')
print((data.isnull().sum() / len(data)).sort_values(ascending = False).index[0])

Age

# 2 아래 여행객 보험 데이터 셋을 참조하여 여행객의 정보들을 기반으로 여행보험 상품 가입 여부를 예측하시오. (ID와 예측치를 csv 파일로 저장하여 제출하시오)

In [125]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
pd.set_option('display.max_columns',None)

In [126]:
train = pd.read_csv('data/TravelInsurancePrediction_train.csv')
test = pd.read_csv('data/TravelInsurancePrediction_test.csv')

In [127]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1501 entries, 0 to 1500
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1501 non-null   int64
 1   Age                  1501 non-null   int64
 2   Employment Type      1501 non-null   object
 3   GraduateOrNot        1501 non-null   object
 4   AnnualIncome         1501 non-null   int64
 5   FamilyMembers        1501 non-null   int64
 6   ChronicDiseases      1501 non-null   int64
 7   FrequentFlyer        1501 non-null   object
 8   EverTravelledAbroad  1501 non-null   object
 9   TravelInsurance      1501 non-null   int64
dtypes: int64(6), object(4)
memory usage: 117.4+ KB

In [128]:
X_train = train.iloc[:,:-1]
y_train = train[['TravelInsurance']]
print(X_train.shape,y_train.shape,test.shape)

(1501, 9) (1501, 1) (486, 9)

In [129]:
train_num = X_train[['Age','AnnualIncome','FamilyMembers','ChronicDiseases']]
train_cat = X_train[['Employment Type','GraduateOrNot','FrequentFlyer','EverTravelledAbroad']]
train_cat = pd.get_dummies(train_cat)

In [130]:
test_num = test[['Age','AnnualIncome','FamilyMembers','ChronicDiseases']]
test_cat = test[['Employment Type','GraduateOrNot','FrequentFlyer','EverTravelledAbroad']]
test_cat = pd.get_dummies(test_cat)

In [131]:
#
train_cat, test_cat = train_cat.align(test_cat, join = 'inner', axis = 1)

In [132]:
scale = MinMaxScaler()
scale.fit(train_num)
train_num_scaled = scale.transform(train_num)
test_num_scaled = scale.transform(test_num)

In [133]:
train_final = pd.concat([pd.DataFrame(train_num_scaled),train_cat],axis = 1)
test_final = pd.concat([pd.DataFrame(test_num_scaled),test_cat],axis = 1)

In [134]:
y = y_train['TravelInsurance']
y

0       0
1       0
2       1
3       0
4       0
       ..
1496    0
1497    1
1498    0
1499    0
1500    1
Name: TravelInsurance, Length: 1501, dtype: int64

In [135]:
model = RandomForestClassifier()
model.fit(train_final,y)

RandomForestClassifier()

In [141]:
pred_y = model.predict(test_final)
pred_test = model.predict_proba(test_final)
pred_test_prob = pd.DataFrame(pred_test[:,1],columns = ['predict_prob'])

In [137]:
final_pred = pd.concat([test['ID'],pred_test_prob],axis = 1)

In [138]:
print(final_pred)

       ID  predict_prob
0    1501      0.127244
1    1502      0.000000
2    1503      0.160357
3    1504      0.115000
4    1505      0.446990
..    ...           ...
481  1982      0.860000
482  1983      0.810000
483  1984      0.017143
484  1985      0.720000
485  1986      0.213536

[486 rows x 2 columns]

In [139]:
final_pred.to_csv("data/20220617.csv", index = False)