# 작업 1유형

In [8]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [11]:
df = pd.read_csv("data/mtcars.csv", index_col = 0)
df.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [18]:
scaler = MinMaxScaler()
scaled = scaler.fit_transform(df)
qsec = scaled[:,6]
ans = qsec > 0.5
sum(ans)

9

# 작업 2유형

In [50]:
import pandas as pd

In [51]:
X_train = pd.read_csv("data/X_train.csv", encoding = 'cp949')
X_test = pd.read_csv("data/X_test.csv",encoding = 'cp949')
y_train = pd.read_csv("data/y_train.csv")

In [52]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     1205 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 273.6+ KB

In [53]:
# train 데이터
X_num = X_train[['총구매액','최대구매액','환불금액','내점일수','내점당구매건수','주말방문비율','구매주기']]
X_num = X_num.fillna(0)
X_cat = X_train[['주구매상품','주구매지점']]
X_cat = pd.get_dummies(X_cat)

In [54]:
# test 데이터
test_num = X_test[['총구매액','최대구매액','환불금액','내점일수','내점당구매건수','주말방문비율','구매주기']]
test_num = test_num.fillna(0)
test_cat = X_test[['주구매상품','주구매지점']]
test_cat = pd.get_dummies(test_cat)

In [55]:
X_cat, test_cat = X_cat.align(test_cat, join = 'inner', axis = 1)

In [56]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X_num)
X_scaled = scaler.transform(X_num)
test_scaled = scaler.transform(test_num)

In [57]:
X_final = pd.concat([pd.DataFrame(X_scaled),X_cat],axis = 1)
test_final = pd.concat([pd.DataFrame(test_scaled),test_cat],axis = 1)

In [58]:
y = y_train['gender']

In [59]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_final, y)

LogisticRegression()

In [62]:
# test 예측
pred_test = model.predict_proba(test_final)
pred_test_prob = pd.DataFrame(pred_test[:,1],columns = ['gender'])
final_predict = pd.concat([X_test['cust_id'], pred_test_prob], axis = 1)
print(final_predict)
final_predict.to_csv("data/20220616.csv", index = False)

      cust_id    gender
0        3500  0.545627
1        3501  0.156078
2        3502  0.205614
3        3503  0.354606
4        3504  0.432065
...       ...       ...
2477     5977  0.535992
2478     5978  0.562554
2479     5979  0.750804
2480     5980  0.472934
2481     5981  0.467446

[2482 rows x 2 columns]

In [63]:
pred_test

array([[0.45437331, 0.54562669],
       [0.84392193, 0.15607807],
       [0.79438631, 0.20561369],
       ...,
       [0.24919634, 0.75080366],
       [0.52706634, 0.47293366],
       [0.53255446, 0.46744554]])